.container{
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: $tablet-width) {
  .container{
    width: $tablet-width;
  }
}
@media (min-width: $desctop-width) {
  .container{
    width: $desctop-width;
  }
}
body{
}
.main{
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}
button{
  font-size: 15px;
  border: 2px solid green;
}
.wrapper1{
  width: 600px;
  margin-top: 15px;
  overflow: hidden;
}
.card-list{
  position: relative;
  width: 12000px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 200px;
  margin-left: 0px;
}
.card{
  width: 200px;
  height: 200px;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  border: 2px solid red;
  box-sizing: border-box;
}
.card-1{
  background-color: green;
}

.wrapper{
  margin-left: 100px;
  margin-right: 100px;
}
.test{
  width: 800px;
  margin: 50px auto;
}

//for popup

.lesson{
  width: 1000px;
  margin: 0 auto;
  padding: 25px 50px;
  font-family: Gothica;
}
.page-title{
  padding: 15px 10px;
  text-align: center;
  font-size: 30px;
}
.lesson a{
  color: blue;
  font-weight: bold;
}
.lesson__content,
.lesson a{
  padding: 10px 0;
  font-size: 20px;
  text-align: justify;
}
//всплывающие окна
.popup{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 35, 0.5);
  font-family: Gothica;
  opacity: 0;
  visibility: hidden;
}
.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup__title{
  padding: 15px 10px;
  text-align: center;
  font-size: 30px;
}
.popup__body{
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.popup__content{
  position: relative;
  max-width: 700px;
  padding: 25px 50px;
  background-color: #fff;
}
.popup__close{
  position: absolute;
  right: 10;
  top: 10;
  font-size: 35px;
  color: #000;
  text-decoration: none;
}
.popup__text{
  font-size: 20px;
  text-align: justify;
}